<a href="/" class="btn btn-secondary">Volver</a>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 20px;">
    <h1>Detalle del prodocto</h1>
    <img src="{{product.thumbnails}}" alt="{{product._id}}" style="width: 16rem; height: 18rem; object-fit: cover; border-radius: 10px;">
    <h2>{{product.title}}</h2>
    <p>USD ${{product.price}}</p>
    <button class="btn btn-success">Comprar</button>
</div>